@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("http://www.milofultz.com/assets/webfonts/Atkinson-Hyperlegible-Regular-102.eot");
  src: url("http://www.milofultz.com/assets/webfonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
    url("http://www.milofultz.com/assets/webfonts/Atkinson-Hyperlegible-Regular-102.otf") format("opentype"),
    url("http://www.milofultz.com/assets/webfonts/Atkinson-Hyperlegible-Regular-102.svg#AtkinsonHyperlegible") format("svg");
}

*,
:after,
:before {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Atkinson Hyperlegible", "Open Sans", sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: justify;
  text-justify: initial;
  font-weight: 500;
  line-height: 1.75;
  font-size: 1rem;
  background-color: #CFCFCF;
  /*color: rgb(22, 23, 26);*/
  color: #101010;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

nav ul {
  border-right: 1px solid #101010;
  display: flex;
  flex-flow: row-reverse wrap;
}

a {
  /*color: #7bf;*/
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

a:hover {
  color: #16F;
}

.prewrap {
  white-space: pre-wrap;
}

pre {
  margin: .5rem 0;
  padding: .5rem;
}

.post p {
  margin: .5rem 0;
}

.post h1,
.post h2,
.post h3,
.post h4 {
  margin: 1.5rem 0 1rem -.5rem;
}

.post h2:first-child,
.project h2:first-child,
.photo h2:first-child {
  margin-top: 0;
}

.meta {
  margin: 2rem 0;
}

code,
pre {
  background: #444;
  color: #EEE;
}

code {
  padding: .1rem .4rem;
}

pre code {
  border: none;
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

hr {
  background: #333;
  height: 1px;
  border: 0;
  margin: 1.5em 1.5em;
}

header {
  flex-basis: 10rem;
  flex-grow: 1;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

header a {
  text-decoration: none;
}

header li {
  margin-bottom: .2rem;
  text-align: right;
  margin-right: 2rem;
}

header a.active {
  font-weight: bold;
}

header,
section {
  padding: 1rem;
}

footer {
  /*position: absolute;*/
  left: 0px;
  bottom: 0px;
  height: 3em;
  width: 100%;
  padding: 1em;
}

li {
  margin-left: 20px;
}

blockquote {
  font-style: italic;
  border-left: 5px solid #ececec;
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  margin: 1rem 0;
  font-weight: 600;
}

section h1:first-child {
  margin-top: 0;
}

strong,
b {
  font-weight: bold;
}

.stars {
  line-height: .8em;
  letter-spacing: .5em;
  font-family: monospace;
  font-size: .6em;
}

.footer-image {
  width: 3em;
  float: right;
}

.photos ul {
  list-style: none;
}

.photos li {
  margin-bottom: 1.5rem;
}

.photo picture,
.project picture {
  margin-bottom: 0.5rem;
}

.posts ul,
header ul {
  list-style: none;
}

.posts li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  margin-left: 0;
}

.posts li a,
.posts li div,
.projects li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.posts li time,
.projects li time {
  padding-left: 1rem;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.post ul,
.project ul,
.post ol {
  //list-style-position: inside;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem;
}


@media screen and (max-width: 45rem) {
  header {
    flex-basis: 100%;
    flex-grow: 1;
  }

  header li {
    display: inline;
    margin-right: 1rem;
  }

  .logo {
    padding-bottom: 1rem;
  }

  header ul {
    border-bottom: 1px solid #333;
    padding-bottom: 2rem;
  }

  nav ul {
    border-right: 0px;
    flex-flow: row wrap;
  }

  .photos ul {
    margin-top: 0.5rem;
  }

  .post-datetime {
    display: none;
  }
}

section {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: flex;
  flex-direction: column;

}

table,
th,
td {
  text-align: left;
  padding: 5px;
}

td {
  border-top: 1px solid gray;
}

figcaption {
  font-size: smaller;
}